:root {
  --black: #030303;
  --white: #fffdfd;
  --primary-color: #ffc1da;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

h1 {
  font-family: 'Delius Unicase', cursive;
  font-size: 3.8rem;
  text-align: center;
  font-weight: 800;
}

h2 {
  font-size: 3.2rem;
}

p,
a {
  font-size: 1.6rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.navigation_list {
}

.navigation_item {
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}
.navigation_item:last-child {
  margin-right: 0;
}

.navigation_link,
.navigation_link:active,
.navigation_link:visited,
.navigation_link:link {
  text-decoration: none;
  color: var(--black);
}

.navigation_link:hover {
  color: red;
}

header {
  background: var(--primary-color);
  height: 90vh;
}

.navigation {
  background: red;
}

.row-eyes {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.col-eye {
  max-width: 34rem;
}

.col-eye:first-child {
  margin-right: 3rem;
}

.img-eye {
  width: 100%;
}

/* Main */
main {
  padding: 8rem 3rem;
}

.main-heading-2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.main-text {
  text-align: center;
  font-size: 2rem;
}
